@charset "UTF-8"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding*/
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.logo {
    margin-left: 2vw;
}

#cabecalho {
    display: flex;
    padding: 0 5%;
}

#menu {
    margin-left: 60%;
    margin-top: 30px;
}

#menu > a {
    text-decoration: none;
    color: black;
    padding-right: 20px;
}

#menu a:hover {
    text-decoration: underline;
}

#container01 {
    margin-left: 5vw;
    margin-top: 8vh;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: green;
    font-size: 1.2em;
}

#descricao p {
    margin-left: 5vw;
    width: 400px;
}

#ler-mais {
    margin-left: 5vw;
    border: 1px solid green;
    border-radius: 15px;
    width: 85px;
    padding: 5px 10px;
    background-color: green;
}

#ler-mais > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

#ler-mais > a:hover {
    text-decoration: underline;
}

#thumbs {
    display: flex;
    margin-left: 35vw;
}

section#sobre {
    position: relative;
    /*height: calc(100% - 20px);*/
    height: 100vh;
    width: 100vw;
}

div#extras {
    position: absolute;
    right: -400px;
    bottom: 0px;
    width: 800px;
    height: 750px;
    background-color: #017143;
    border-radius: 50%;
}

div#extras img {
    margin-top: -20px;
    height: 60vh;
    margin-left: 5vw;
}

div#rede-social {
    position: absolute;
    /*margin-top: -25vh;
    margin-left: 94vw;*/
    right: 35px;
    top: -150px;
}

div#rede-social img {
    display: block;
    padding-bottom: 20px;
}
